<html>
<head>
   <title>Cyber Crimes and Wonderful Times</title>
</head>
    <h1> <strong>Cyber Crimes and Wonderful Times</strong></h1>
    <h2>A blog by Lexie</h2>
<body>
    <em>Hi there! </em>
    <p>Did you know we are all over the news?</p>
    <a href="https://www.youtube.com/watch?v=OcLbXesGxg4">2019: Video!</a>
    <br>
    <a href="https://www.nd.edu/stories/cyber-sleuths/"">2018, ND Stories: Cyber Sleuths</a>
    <br>
    <div>
        <a href="https://slate.com/technology/2018/09/notre-dame-students-officers-cybercrimes.html">2018: Slate, Cyber Crimes</a>
        <br>
        <a href="https://news.nd.edu/news/cyber-crimes-unit-welcomes-record-eight-student-interns/">2019, ND Stories: Eight Student Interns</a>
    </div>
</body> 
</html>